<template>
    <div>
      <h1>Character Details</h1>
      <div v-if="character">
        <!-- <p><strong>ID:</strong> {{ character.id }}</p> -->
        <p><strong>Name:</strong> {{ character.name }}</p>
        <p><strong>Health:</strong> {{ character.health }}</p>
        <p><strong>Attack:</strong> {{ character.attack }}</p>
        <p><strong>Defense:</strong> {{ character.defense }}</p>
        <p><strong>Potions:</strong> {{ character.potions }}</p>
        <p><strong>Objectivs:</strong> {{ character.objectifs }}</p>

      </div>
      <div v-if="event">
        <h1>Events</h1>
        <div v-for="e,key in event" :key="key">
        <!-- <p><strong>ID:</strong> {{ character.id }}</p> -->
        <!-- <p><strong>Name:</strong> {{ e.name }}</p> -->
        <!-- <button :href="'/events/' + e.event_type">{{ e.description }}</button> -->
        <button @click="chooseEvent(e)">{{ e.description }} : {{ e.event_type }}</button>
        <!-- <p><strong>Attack:</strong> {{ e.is_positive }}</p> -->
        <!-- <p><strong>Type:</strong> {{ e.event_type }}</p> -->
      </div>
      </div>
    </div>
  </template>
  
<script>
import characterService from '../services/characterService';
import eventService from '../services/eventService';
export default {
  data() {
    return {
      character: null,
      event : null,
    };
  },
  async created() {
    // Récupérer l'ID du personnage depuis le stockage local
    const characterId = localStorage.getItem('characterId');
    
    if (characterId) {
      try {
        // Appel de characterService pour récupérer les détails du personnage
        this.character = await characterService.getCharacter(characterId);
        this.event = await eventService.getRandomEvent();

      } catch (error) {
        console.error(error);
      }
    } else {
      // Si l'ID du personnage n'est pas trouvé, redirigez l'utilisateur vers StartGame.vue
      this.$router.push('/start-game');
    }
  },
  methods:{
    chooseEvent(event){
      console.log(event)
      localStorage.setItem('event', JSON.stringify(event));
      this.$router.push('/event-display');
    }
  }
};
</script>