<template>
    <div>
      <h1>Character Details</h1>
      <div v-if="character">
        <!-- <p><strong>ID:</strong> {{ character.id }}</p> -->
        <p><strong>Name:</strong> {{ character.name }}</p>
        <p><strong>Health:</strong> {{ character.health }}</p>
        <p><strong>Attack:</strong> {{ character.attack }}</p>
        <p><strong>Defense:</strong> {{ character.defense }}</p>
        <p><strong>Potions:</strong> {{ character.potions }}</p>
        <p><strong>Objectivs:</strong> {{ character.objectifs }}</p>
      </div>
      <div v-if="damage > 0 ">
        <h2>Vous avez perdu : {{ damage }} hp</h2>
        <button @click="escape()">Continuer</button>
      </div>
      <div v-if="bataille">
        <div v-for="e, index,key in enemies" :key="key">
          <p> {{ e.name }}</p>
          <p> {{ e.strength }}</p>
          <p> {{ e.health }}</p>
          <button @click="attack(index)">Attaquer</button>
          <br>
        </div>
        <button @click="heal()">Heal</button>
        <button @click="escape()">Fuite</button>
      </div>
    </div>
  </template>
  
<script>
import characterService from '../services/characterService';
import eventService from '../services/eventService';
import combatService from '../services/combatService';

export default {
  data() {
    return {
      character: null,
      event : null,
      damage: 0,
      gain_potion : false,
      bataille : false,
      enemies: null
    };
  },
  async created() {
    // Récupérer l'ID du personnage depuis le stockage local
    const characterId = localStorage.getItem('characterId')
    var event = localStorage.getItem('event');
    event = JSON.parse(event);

    //Gestion des différents events
    switch(event.event_type){
        case "gain_potion":
          //console.log(characterId)
          await characterService.potionFound(characterId);
          this.$router.push('/character-infos');
          break
        case "perte_hp":
          var damage = await eventService.getRandomDamage();
          this.character = await characterService.damageCharacter(characterId, damage);
          this.damage = damage;
          break
        case "bataille":
          this.bataille = true;
          var enemies = await combatService.generateEnemies();
          this.enemies = enemies;
          break
    }
    if (characterId) {
      try {
        // Appel de characterService pour récupérer les détails du personnage
        this.character = await characterService.getCharacter(characterId);
        //this.event = await eventService.getRandomEvent();
        // localStorage.setItem('characterId', newCharacter.id);

      } catch (error) {
        console.error(error);
      }
    } else {
      // Si l'ID du personnage n'est pas trouvé, redirigez l'utilisateur vers StartGame.vue
      this.$router.push('/start-game');
    }
  },
  methods:{
    async attack(local_id){
      const enemie = this.enemies[local_id]
      enemie.health -= this.character.attack;
      this.character.health -= enemie.strength;
      //Faire le check pour voir si personne est mort
      if(enemie.health <= 0){
        this.enemies.splice(local_id,1)
        var objectifs = await characterService.objectivesAchieve(this.character.id)
        this.character.objectifs = objectifs.character_objectifs
        if(objectifs <= 0){
          var win = "Gagné"
        this.$router.push({ path: `/endGame/${win}` });        
        }
      }
      if(this.character.health <= 0){
        var loose = "Perdu"
        this.$router.push({ path: `/endGame/${loose}` });        
      }
    },
    async heal(){
      const characterId = localStorage.getItem('characterId')
      var characterData = await characterService.healPlayer(characterId)
      this.character.health = characterData.character_health;
      this.character.potions = characterData.character_potions;      
    },
    escape() {
    this.$router.push('/character-infos');
  }
  }
};
</script>