<template>
  <div>
    <h1>Start Game</h1>

    <!-- Première étape : Bouton "Start the Game" -->
    <div v-if="!isGameStarted">
      <button @click="startGame">Start the Game</button>
    </div>

    <!-- Deuxième étape : Formulaire de création du nom du personnage -->
    <div v-if="isGameStarted">
      <form @submit.prevent="createCharacter">
        <label for="characterName">Enter Character Name:</label>
        <input type="text" id="characterName" v-model="characterName" required>
        <button type="submit">Create Character</button>
      </form>
    </div>
  </div>
</template>

<script>
import characterService from '../services/characterService';

export default {
  data() {
    return {
      isGameStarted: false,
      characterName: '',
    };
  },
  methods: {
    startGame() {
      this.isGameStarted = true;
    },
    async createCharacter() {
      try {
        // Call the characterService to create the character
        const newCharacter = await characterService.createCharacter(this.characterName);

        // Redirect to the game page or perform any other actions
        // after successfully creating the character
        console.log('New character created:', newCharacter);

        localStorage.setItem('characterId', newCharacter.id);

        console.log('New character saved !');

        this.$router.push('/character-infos');


      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>
